* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat center center / cover fixed;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#telefone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat center center / contain;
}

#tela {
    width: 269px;
    height: 471px;
}

@media (max-width: 768px) {
    #telefone {
        transform: scale(0.9);
    }
}